# Import Required Packages

In [1]:
import numpy as np
from scipy.optimize import linprog
import pandas as pd

# Load Win Percentage Data

In [2]:
game_table = pd.read_csv("Datasets/win_prob_nfl_2016.csv", index_col="GAME_ID")
game_table

         WEEK TEAM  P_WIN
GAME_ID
0           1  CAR   0.40
1           1  BUF   0.47
2           1  CHI   0.33
3           1  CIN   0.49
4           1  CLE   0.29
5           1   GB   0.68
6           1  MIN   0.71
7           1  OAK   0.40
8           1   SD   0.19
9           1   TB   0.31
10          1  MIA   0.18
11          1  DET   0.43
12          1  NYG   0.44
13          1   NE   0.40
14          1  PIT   0.54
15          1   LA   0.47
16          1  DEN   0.60
17          1  BAL   0.53
18          1  HOU   0.67
19          1  NYJ   0.51
20          1  PHI   0.71
21          1  JAX   0.32
22          1  TEN   0.29
23          1   NO   0.60
24          1   KC   0.81
25          1  ATL   0.69
26          1  SEA   0.82
27          1  IND   0.57
28          1  DAL   0.56
29          1  ARI   0.60
...       ...  ...    ...
514        17  CAR   0.67
515        17  CHI   0.22
516        17  CLE   0.17
517        17  DAL   0.32
518        17   GB   0.51
519        17  HOU   0.66
520        17  JAX   0.29
521        17   NE   0.66
522        17   NO   0.41
523        17  NYG   0.38
524        17  ARI   0.58
525        17   KC   0.68
526        17  OAK   0.20
527        17  SEA   0.69
528        17  CIN   0.71
529        17  NYJ   0.61
530        17   TB   0.33
531        17  MIN   0.78
532        17  PIT   0.83
533        17  PHI   0.68
534        17  DET   0.49
535        17  TEN   0.34
536        17  IND   0.71
537        17  MIA   0.34
538        17  ATL   0.59
539        17  WSH   0.62
540        17   LA   0.42
541        17   SD   0.32
542        17  DEN   0.80
543        17   SF   0.31

[544 rows x 3 columns]

# Setup Data in Linear Program Form

In [18]:
# Set Parameters
teams = game_table.TEAM.unique()
numb_teams = len(teams)
weeks = max(game_table.WEEK)
discount_rate = 0.30


# Set Objective Function Coefficients (based on discounted win probabilities)
p_win = np.array((game_table.P_WIN*((1-discount_rate)**(game_table.WEEK-1))))


# Constraint 1: Pick only one team per week
xa1 = np.zeros((weeks,numb_teams*weeks))
xb1 = np.ones((weeks,1))

i=1
for row in xa1:
    row[(i-1)*32:i*32] = 1
    i +=1
    
    
# Constraint 2: Pick each team at most once
xa2 = np.zeros((numb_teams,numb_teams*weeks))
xb2 = np.ones((numb_teams,1))

j=0
for team in teams:
    test = game_table.index[game_table.TEAM == team]
    for k in test:
        xa2[j][k] = 1
    j+=1
    
# Bounds Constraints:
x_lower_upper = (0,1)

# Arrange in Standard Form and Compute

In [19]:
c = p_win
A = np.vstack((xa1,xa2))
b = np.vstack((xb1,xb2))

res = linprog(-c, A_ub=A, b_ub=b, bounds=x_lower_upper, options={"disp": True})

Optimization terminated successfully.
         Current function value: -2.686126
         Iterations: 35

# Print Summary Table

In [20]:
predictions = game_table.iloc[np.where(res.x == 1)[0]]
continuing = 1.0
continuing_list = []
for row in predictions.iterrows():
    continuing *= row[1]["P_WIN"]
    continuing_list.append(continuing)
    
predictions["P_CONTINUING"] = continuing_list
predictions

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

         WEEK TEAM  P_WIN  P_CONTINUING
GAME_ID
24          1   KC   0.81      0.810000
56          2  DET   0.81      0.656100
90          3  SEA   0.82      0.538002
119         4  HOU   0.81      0.435782
155         5  CAR   0.81      0.352983
187         6   GB   0.78      0.275327
211         7  CIN   0.83      0.228521
246         8  DEN   0.83      0.189673
279         9   SD   0.72      0.136564
313        10  ARI   0.79      0.107886
342        11  IND   0.75      0.080914
373        12  BUF   0.75      0.060686
399        13  MIN   0.77      0.046728
447        14   NE   0.75      0.035046
465        15  NYJ   0.70      0.024532
503        16  JAX   0.65      0.015946
532        17  PIT   0.83      0.013235